<%- include('partials/header') %>

<div class="jumbotron container-fluid px-5">

  <div class="row">
  <div class="col-4 pr-5 text-center">
    <i class="fas fa-hands fa-7x"></i>
    <h1 class="display-3">Poster</h1>
    <p class="lead">Post something and introduce yourself</p>
  </div>

  <div class="col-8 mt-5">
    <div class="post-container mt-3">
      <% posts.forEach(function(post){ %>
        <p class="secret-text"><a href="/profile/<%=`${post.poster}`%>"><%=`${post.poster}:`%></a>
          <%=`${post.content}`%></p>
      <% }) %>
  </div>
  <div class="text-center mb-2">
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Post</a>

  
  </div>

  </div>




</div>

</div>

<%- include('partials/footer') %>
