<%- include('partials/header') %>


<div class="container profile">

    <div class="d-md-flex p-2 ">

        <div class="card border-dark  d-md-flex text-center" >
            <img class="card-img-top" src="/images/profile.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= ((userProfile).username) %></h5>
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item">Signed Up: <%= userProfile.profile.signedUp%></li>
                <li class="list-group-item">Posts: <%= userProfile.profile.posts%></li>
                <li class="list-group-item">Last Online: <%= userProfile.profile.lastOnline%></li>
            </ul>
        </div>

        <div class="d-md-flex border-dark p-2 card text-center col-md-8 flex-column justify-content-start">

            <form id="form" autocomplete="off" action="/profile" method="POST">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Description</h5>
                    <input type="hidden" value="" name="desc" id="descInput">
                    <p class="card-text editableProfileOption" id="desc"><%= userProfile.profile.description%></p>
                    <h6 hidden class="editableProfileOptionCharsRem card-subtitle mb-2 text-muted"></h6>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Favourite Colour</h5>
                    <input type="hidden" value="" name="colour"id="colourInput">
                    <p class="card-text editableProfileOption" id="colour"><%= userProfile.profile.favColour%></p>
                    <h6 hidden class="editableProfileOptionCharsRem card-subtitle mb-2 text-muted"></h6>

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Favourite Fruit</h5>
                    <input type="hidden" value="" name="fruit" id="fruitInput">
                    <p class="card-text editableProfileOption" id="fruit"><%= userProfile.profile.favFruit%></p>
                    <h6 hidden class="editableProfileOptionCharsRem card-subtitle mb-2 text-muted"></h6>
                </div>
                
            </div>





        </form>

        <div id="profileCardLogo">
            <div  class="border-0 card d-flex flex-column-reverse">
                <div class="card-body">
                    <i class="fas fa-hands fa-5x"></i>
                    <h1 class="display-3">Poster</h1>

                </div>
                
            </div>
        </div>


        <!-- <div class="mt-auto p-2 bd-highlight">
            <h1 class="display-3">Poster</h1>
        </div> -->

<% if (userValidation){ %>
    <div class="mt-auto p-2 bd-highlight">
        
        <button form="form" type="button" id="editBtn" href="#" class="btn btn-dark">Edit Profile</a>
        
    </div>
<% } %>
    
</div>
        </div>







    </div>

</div>

<script type="text/javascript" src="/scripts/profile.js" charset="utf-8"></script>

<%- include('partials/footer') %>